*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/ScreenShots/Screenshot 2024-08-07 153159.png
/ScreenShots/Screenshot 2024-08-07 153250.png
/ScreenShots/Screenshot 2024-08-07 153309.png
/ScreenShots/Screenshot 2024-08-07 154252.png
/ScreenShots/Screenshot 2024-08-07 154308.png
